<div class="revi-header">
    <div>
        <ul class="revi-menu revi-toolbar">
            <li class="revi-tool revi-button-flat revi-calendar-week" ng-click="reviRanges.week.onClick()" title="{{reviRanges.week.tooltip}}"></li>
            <li class="revi-tool revi-button-flat revi-calendar-month" ng-click="reviRanges.month.onClick()" title="{{reviRanges.month.tooltip}}"></li>
            <li class="revi-tool revi-button-flat revi-calendar-quarter" ng-click="reviRanges.quarter.onClick()" title="{{reviRanges.quarter.tooltip}}"></li>
        </ul>
    </div>
    <div class="revi-divider-bottom"></div>
    <div class="revi-label revi-start-date">{{startDateLabel}}</div><div class="revi-label revi-end-date">{{endDateLabel}}</div>
</div>