<!-- MarkdownRulesets View - injected controller 'rulesetsCtrl' -->

<div class="revi-markdown-rulesets">
    <div class="revi-link"><a href="#/calendar">Calendar</a></div>
    <div class="revi-jumbotron">Welcome to Markdown Rulesets</div>

    <div ng-show="rulesetsCtrl.isBusy" class="revi-spinner"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div><div class="rect4"></div><div class="rect5"></div></div>
    <json-response name="Markdown Rulesets" open-branches="1" response="rulesetsCtrl.markdownRulesetsJson"></json-response>
</div>
