.revi-currency-field {
    border-style: solid;
    border-color: $revi-color-border-dark-minimum;
    border-width: 1px 0px 1px 1px;
    font-size: $revi-fonts-size-m;
    background: $revi-color-background-light-maximum;
    padding: 4px 5px 3px 5px;
    position: relative;
    top: 0.175em;
}
