<div class="revi-modal" data-ng-class="{'revi-modal-hidden' : !reviShow()}">
    <div class="revi-shim">
        <div class="revi-modal-box">
            <div class="revi-modal-content">
                <div class="revi-modal-header">
                    <button class="revi-button revi-close revi-button-flat" ng-click="reviClick()"></button>
                </div>
                <div class="revi-modal-body">
                    {{reviMessage}}
                </div>
                <div class="revi-modal-footer">
                    <button class="revi-button revi-confirm revi-button-flat" ng-click="reviClick()">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>