$revi-zindex-normal: 0;
$revi-zindex-1st-above-normal: 999;
$revi-zindex-2nd-above-normal: $revi-zindex-1st-above-normal + 5;
$revi-zindex-3rd-above-normal: $revi-zindex-2nd-above-normal + 5;
$revi-zindex-4rd-above-normal: $revi-zindex-3rd-above-normal + 5;

$revi-zindex-top-of-everything: 2000;