@import "calendar";
@import "rulesets";

.revi-json {
  background-color: $revi-color-background-light-active;
  padding: 10px;
  margin: auto;
  width:70%;
  margin-top: 3em;
  margin-bottom: 1em;
  border-radius: 1em;
  .revi-json-label {
    font-size: $revi-fonts-size-xxl;
  }
}